.categories-container {
	overflow-x: auto;
	transition: padding-left 0.3s ease;
}

.categories-container.scrolling {
	padding-left: 0;
}

.categories-wrapper {
	display: flex;
	flex-wrap: nowrap;
}

.category-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-right: 20px;
}

.padding-left {
	width: 100px;
	flex-shrink: 0;
}

.padding-right {
	width: 100px;
	flex-shrink: 0;
}
